body {
	background-color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	color: #800000;/*Dark maroon for body text*/
	text-align: center;/*Keeps paragraphs left-aligned*/
}
h1 {
	display: inline-block; /"Shrinks width to fit text"/
	background-color: red;
	font-size: 32pt;
	color: green;
	padding: 5px 10px;
	margin: 20px auto; /*centers the h1 horizontally*/
	text-align
}
h2 {
	text-align: left;
	background-color: #800000;
	color: red;
}
p {
	background-color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	text align: left;
}
p-shrt {
	display: inline-block;
	background-color: light blue;
	width: 
}
li {
	text-align: left;
	color: black;
	font-size: 15pt;
}